name: Python Testing

# Trigger the workflow on any push to the main branch or pull request
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Build and run tests in Docker
        uses: docker://python:3.8-slim
        with:
          args: > 
            /bin/sh -c "pip install -r requirements.txt && pytest"

